body{
padding: 0px;
margin: 0px;
}
.top{

	color: white;
    font-size: 25px;
	background: darkblue;
    height: 35px;    
	padding: 20px;
    margin-bottom: 17px;
}
.section{
padding: 10px;
}
.span1
{

	font-size: 10px;

	font-style: italic;    
	margin-left: 20px;
	
	

}
img{
margin-right: 8px;
padding: 10px;
padding-top:2px;

}
.fin-section{
margin-bottom: 9%;
margin-left: 2px;
padding: 10px;
}
.one
{
	color: darkblue;

    	font-size: 25px;

        margin-top: -5px;
		margin-bottom:-10px;

}

.opac{

    font-size: 15px;
	opacity: 0.5;
	margin-top: -5px;
}

.center
{
    float: left;
	width: 80%;

}

.side{

  	width:20%;
	float: right;
}

.drop{
 
   width: 245px;

    height:35px;
	border: solid 1.2px;

}
.email{
	    border: solid 1.2px;
		padding: 0px;
		height: 35px;
}
.button
{
   
 background-color: darkorange;

  color: white;
 
   height: 35px;
    
width: 15%;
    

}


.subscribe
{

    background-color: black;
	margin-right: 8px;
	height: 38px;
    color: white;
	border:0px;
	

}
footer{
	background-color: darkblue;
	bottom:0px;
	width:100%;
	text-align:center;
	color:white;
	position:fixed;
}